body
{
margin: 0;
padding: 0;
}
#container
{
width: 750px;
margin-left: auto;
margin-right: auto;
border:1px solid black;
}
#header
{
height: 150px;
background: #9CF;
}
#left
{
width: 170px;
float: left;
background: #ABC;
}
#right
{
width: 580px;
float: left;
background: #9FF;
}
#footer
{
clear: both;
background: #999;
}
p{
margin-left: auto;
text-algin: center;
}
ul{
font-size:15pt;	
margin:40pt;	
text-align:top;	
color: #a24272;	
}
li{
color: #E2B019;	
font-family: 'Trebuchet MS';	
}
h3{
color: #bbf152;
font-weight: bold;	
filter: drop-shadow(30px 10px 4px #5D6C9E);
 vertical-align: top;
 font-family: arial;
}









