body
{
margin: 0;
padding: 0;
}
#container
{
width: 750px;
margin-left: auto;
margin-right: auto;
border:1px solid black;
}
#header
{
height: 150px;
background: #9CF;
}
#left
{
width: 170px;
float: left;
background: #ABC;
 border:1px solid black;
}
#right
{
width: 580px;
float: left;
background: #9FF;
 border:1px solid black;
}
#footer
{
clear: both;
background: #999;
}
ul{
font-size:15pt;	
margin:40pt;	
text-align:top;	
color: #a24272;	
}
li{
color:#B56CC0;	
font-family: 'Trebuchet MS';	
}
h1{
color: #bbf152;
font-weight: bold;	
filter: drop-shadow(30px 10px 4px #5D6C9E);
 vertical-align: top;
 font-family: arial;
 font-size:68pt;
 margin-left: auto;
 text-algin: center;
}
#top
{
text-algin: center;
background:#8156FF;
margin:40pt;	 
filter: drop-shadow(30px 10px 4px #663FFF);
margin-left:auto;
margin-right:auto;

 


}









