
body
{
margin: 0;
padding: 0;
}
#container
{
width: 1050px;
margin-left: auto;
margin-right: auto;
border:1px solid black;
}
#header
{
height: 150px;
background: #9CF;
}
#left
{
width: 170px;
float: left;
background: #ADC;
}
#right
{
width: 580px;
float: right;
background: #9AD;
}
#footer
{
clear: both;
background: #96F;
}
#main
{
float: left;
width: 280px;
}
