body
{
margin: 0;
padding: 0;
}
#container
{
width: 750px;
margin-left: auto;
margin-right: auto;
border:1px solid black;
}
#header
{
height: 150px;
background: #9CF;
}
#left
{
width: 170px;
float: left;
background: #ABC;
}
#right
{
width: 580px;
float: left;
background: #9FF;
}
#footer
{
clear: both;
background: #999;
}