body{
font-family: arial;
background-color: #a24272;
text-align: center;
}
h1 {
font-size:50pt;
color: #fbf152;
font-weight: bold;	
filter: drop-shadow(10px 3px 3px #f08000);
 vertical-align: top;
 font-family: arial;
}
h2{
color:#228af0;
	
}
ul{
font-size:15pt;	
margin:40pt;	
text-align:top;	
color: #a24272;	
}
a{
color:	#FF00FF;	
	
}

