{% extends 'base.html.twig' %}

{% block content %}
<button onclick="history.back()" class="back-button">Powrót</button>
<h1>GALERIA</h1>

<ul class="gallery-grid">
  <li><img src="/img/img1.png" alt="Zdjęcie 1" class="gallery-image"></li>
  <li><img src="/img/img2.png" alt="Zdjęcie 2" class="gallery-image"></li>
  <!-- ... pozostałe 8 zdjęć ręcznie dodane -->
</ul>

<!-- Lightbox -->
<div id="lightbox" class="hidden">
  <img id="lightbox-image">
  <span onclick="closeLightbox()" class="close">&times;</span>
</div>
{% endblock %}